[Desktop Entry]
Name=Lycheese
Comment=Stream your desktop or webcam to RTMP servers
Categories=Gtk;Utility;
Exec=lycheese
Terminal=false
Type=Application
version=0.1
Encoding=UTF-8
StartupNotify=true
