[Desktop Entry]
Version=beta
Encoding=UTF-8
Name=Lycheese
Comment=Stream your desktop or webcam to RTMP servers
Exec=/home/edoput/.local/bin/lycheese
Icon=
Terminal=false
Type=Application
StartupNotify=true
Categories=Gnome;Gtk;Utility;
